/*
	font-family: 'Merriweather', serif;
	font-family: 'PT Sans Caption', sans-serif;
*/
html {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

img {
	display: inline-block; /*Відміна стандартних відступів картинки*/
}

/* ...................................................
GRID
Переписати сітку на флексбоксах!!!
.................................................... */
.section {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.row {
}

.row:after {
	clear: both;
	content: "";
	display: table;
}

.col-4 {
	width: 360px;
	margin-right: 30px;
	float: left;
}

.col-4:last-child {
	margin-right: 0;
}

/* ...................................................
HEADER
.................................................... */
header {
	background: #003254;	/*	Колір фону при відсутності картинки*/
	background-image: url("../img/bg/bg.jpg");	/*Фонова картинка*/
	background-repeat: no-repeat;	/*	Скасування повторення картинки*/
	background-position: center;	/*Позиціювання*/
	background-size: cover;	/*Масштабування зображення зі збереженням пропорцій по всій ширині і висоті блоку*/
	height: 100vh; /*Висота header на всю висоту видимої сторінки*/
	color: #FFF;
	text-align: center;	/*Позиціювання тексту по середині*/

	/*FLEX*/
	display: flex;	/*Позиціювання елекментів flex*/
	flex-direction: column; /*Позиціювання стрічкою*/
	align-items: center;	/*Вирівнювання блоків по вертикалі*/
	justify-content: center;	/*Вирівнювання блоків по горизонталі*/
	position: relative; 	/*Позиціювання */
}

.headerTitle {
	font-size: 56px;
	line-height: 62px;
	margin-bottom: 30px;
	font-family: 'Merriweather', serif;
}

.headerText {
	font-size: 28px;
	line-height: 42px;
}

.headerArrow {
	font-size: 48px;
	position: absolute;  /*Позиціювання елемента відносно видимої частини сторінки*/
	bottom: 200px;
	left: calc(50% - 24px); /*Вирівнювання елемента точно по середині*/
}

.headerArrow i {
	color: #FFF;
	text-decoration: none;
}

/* ...................................................
PORTFOLIO
.................................................... */
.portfolio {
	padding: 70px 0 100px 0;
}

.portfolio-Item {
	margin-bottom: 20px;
}

.porfolioTitle {
	font-size: 46px;
	margin-bottom: 60px;
	font-family: 'Merriweather', serif;
	text-align: center;
}

.portfolio-Item-Title a {
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid #FFF;
}

.portfolio-Item-Title a:hover {
	color: #0052c2;
	border-color: rgba(0, 82, 194, 0.3);
}

.portfolio-Item-Img {
	margin-bottom: 17px;
}

.portfolio-Item-Title {
	font-size: 24px;
	line-height: normal;
	margin-bottom: 5px;
}

.portfolio-Item-Text p {
	margin-top: 0;	/*margin-bottom: 15px;*/
}

/* ...................................................
FOOTER
.................................................... */
footer {
	background-color: #061634;
	color: #6479a2;
	padding-top: 90px;
	padding-bottom: 110px;
}

footer p {
	margin-top: 0;
	margin-bottom: 15px;
}

p.footerName {
	font-size: 28px;
	margin-bottom: 10px;
	line-height: normal;
	font-family: 'Merriweather', serif;
}

div.footerSocial {
	text-align: center;
	color: #FFF;
}

.footerSocialIcons {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

div.footerSocialIcons a {
	color: #FFF;
	font-size: 32px;
	text-decoration: none;
}

div.footerSocialIcons a:hover {

	/*color: yellow;*/
}

div.footerSocialIcons a:nth-child(1):hover {
	color: #507299;
}

div.footerSocialIcons a:nth-child(2):hover {
	color: #00aced;
}

div.footerSocialIcons a:nth-child(3):hover {
	color: #bb0000;
}

div.footerSocialIcons a:nth-child(4):hover {
	color: #6d84b4;
}

.button {
	font-weight: 700;
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	padding: 8px 23px 8px 23px;
	display: inline-block;
	border: 2px solid #FFF;
	border-radius: 50px;
	margin-bottom: 13px;
}

.button:hover {
	color: #061634;
	background-color: #fff;
}

div.footerSocialIcons a:nth-child(5):hover {
	display: inline-block;
	line-height: 1;
	background: yellow;
	border-radius: 5px;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
