@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Suez+One');

* {
	margin: 0;
	padding: 0;
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #f0f0f0; /*	height: 2000px;*/
}

a {
	color: #fa713e;
	text-decoration: none;
	transition: all.6s ease;
}

a:hover {
	color: #c34f25;
	transition: all.6s ease;
}

ul, ol {
	width: 90%;
	margin-left: 5%;
}

img {
	max-width: 85%;  /*Виправити!!!!!!!!!!!!!!!!*/
	height: auto;
	transition: all 3s ease-out;
}

hr {
	display: block;
	border: 0;
	border-top: 2px solid silver;
	padding: 0;
}

/*=======================================================================*/
.container {
	display: flex;
	flex-direction: column;	/*border: 1px solid #000;*/
}

/*=======================================================================*/

/*=======================================================================*/

/*=======================================================================*/
header {
	background-color: #21212091;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	/*align-items: center;*/
	border-bottom: 5px solid #59595a;
	font-family: 'Roboto Slab', serif;
	padding: 0 1%;
}

header a {
	color: white;
}

header a:hover {
	color: white;
}

header span {
	font-size: 2.5em;
	margin-left: 10px;
	font-family: 'Suez One', serif;  /*Підібрати нормальні шрифти*/
}



main {
	display: flex;
	flex-direction: row;
}

main h2 {
	display: inline-block;
	border-bottom: 2px solid #db6e6e;
}

